{% extends 'base.html' %}

{% block content %}
<h2>Customer List</h2>
<div class="row">
    {% for cstmr in customers %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ cstmr.f_name }} {{ cstmr.l_name }}</h5>
                <p class="card-text">Phone Number: {{ cstmr.phone_num }}</p>
                <p class="card-text">Product: {{ cstmr.product }}</p>
                <h5 class="card-text">Bank: {{ cstmr.bank }}</h5>
                <p class="card-text">Status: {{ cstmr.status }}</p>
                <a href="{% url 'details' cstmr.pk %}" class="btn btn-info btn-sm">Details</a>
                <a href="{% url 'edit' cstmr.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete' cstmr.pk %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'create_customer' %}" class="btn btn-primary">Create New Customer</a>
{% endblock %}
