{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}


<form method="post" action="{% url 'dsa_create' %}">
    {% csrf_token %}
    <a href="{% url 'dsa_list' %}" class="btn btn-secondary mb-3">Back to List</a>

    <div class="form-group">
        <label for="dsa_name" class="form-label">DSA Name:</label>
        <input type="text" id="dsa_name" name="dsa_name" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="dsa_code" class="form-label">DSA Code:</label>
        <input type="text" id="dsa_code" name="dsa_code" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="dsa_phone_number" class="form-label">DSA Phone:</label>
        <input type="text" id="dsa_phone_number" name="dsa_phone_number" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
