<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h2>Task List</h2>
    {% for date, tasks in task_dict.items %}
        <h3>{{ date }}</h3>
        <ul>
            {% for task in tasks %}
                <li>{{ task.task_time }} - {{ task.title }}: {{ task.descriptions }}</li>
                <a href='{% url 'edit_task' task.id %}'>Edit</a>
                <a href='{% url 'delete_task' task.id %}'>Delete</a>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>

